body {background-color: #222325;}

h1 {
    color: #feffff;
    text-align: center;
}

h2{
    color: #feffff;
}

p{
    color: #feffff;
}

.nav-link{
     color: #feffff;
 }

a.nav-link:hover{
    color: #222325;
}

table, td, tr, th{
    padding: 20px;
}

th, td{
    color:#feffff;
}